<!DOCTYPE html>
<html ng-app="smartnews">
<head lang="en">
    <meta charset="UTF-8">
    <title>Spring Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../js/app/components/ng-infinite-scroll.js"></script>
    <script src="../js/app/components/abn_tree_directive.js"></script>
    <script src="../js/app/components/modalDialog.directive.js"></script>
    <script src="../js/app/services/clientData.service.js"></script>
    <script src="../js/app/services/articles.service.js"></script>
    <script src="../js/app/services/clients.service.js"></script>
    <script src="../js/app/services/popup.service.js"></script>
    <script src="../js/app/app.js"></script>
    <script src="../js/app/popup.controller.js"></script>
    <script src="../js/app/news.controller.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/abn_tree.css">
</head>
<body>
    <div id="wrapper" >
        <div ng-controller="NewsController as news">
            <div class="leftNavBar">
                <abn-tree tree-data="news.clientData.folders" on-select="news.onFolderSelect(branch)"></abn-tree>
            </div>
            <div class="content">
                <div>
                    <button ng-click="news.showNewArticlePopup()" class="button" type="button">Add article</button>
                </div>
                <div infinite-scroll="news.nextArticlesPage()" infinite-scroll-distance="1">
                    <div class="article" ng-repeat='article in news.articles'>
                        <h1>{{article.name}}</h1>
                        <p>{{article.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="PopupController as popup">
            <modal-dialog show='popupService.getData().popupShown'>
                <form name="articleForm" ng-submit="popup.submit()">
                    <div class="modal-name">
                        <h1>Enter URL</h1>
                    </div>
                    <div class="modal-group">
                        <input class="text-input" type="url" name="url" ng-model="popup.url" required>
                        <span class="validation-msg" ng-show="articleForm.url.$dirty && articleForm.url.$invalid">
                            <span ng-show="articleForm.url.$error.required">URL is required.</span>
                            <span ng-show="articleForm.url.$error.url">Invalid URL.</span>
                        </span>
                    </div>

                    <div>
                        <button class="button submit" type="submit"
                                ng-disabled="articleForm.url.$dirty && articleForm.url.$invalid">
                            Add article</button>
                        <button ng-click="popup.close()" type="button" class="button cancel">Cancel</button>
                    </div>
                </form>
            </modal-dialog>
        </div>
    </div>
</body>
</html>


