*{
    padding:0;
    margin:0;
}

body {
    height: 100%;
}

html {
    height: 100%;
    background-color: #eaf0f2;
}

#wrapper {
    min-height:100%;
    position:relative;
}

.indented {
    text-indent: 20px;
}

.leftNavBar {
    float:left;
    height: 100%;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.content {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
}

.article {
    border-bottom: 1px solid;
}